body{
  background: url(cat.jpg) no-repeat center fixed;
  background-size: cover;
}

.hero{
  color: #fff;
  margin-top: 20%;
  font-size: 75px;
  letter-spacing: -.05em;
  line-height: 1.2em;
}

.ima{
  height: 100px;
  width: 200px;
}
