body{
  background: url(sea.jpg) no-repeat center center fixed;
  background-size: cover;
}

#login-modal .modal-dialog{
  width: 350px;
}

#login-moddal input[type=text], input[type=password]{

}

.modal-footer{
  display: block ;
}
